body {
    background: black;
}

.wrapper {
    background: lightgrey;
    width: 1000px;
    margin: auto;
}
.top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 5px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 600px;
    height: 500px;
    background-size: contain;
    margin: auto;
}
.box {
    position: relative;
    margin: 60px 200px;
    background: white;
    height: 750px;
    width: 600px;
}
.title_box {
    width: 600px;
    display: flex;
}
.title {
    float: left;
}
.date {
    color: lightgray;
    float: right;
}
.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    bottom: 3px;
}